@include b(button-types){
	transition: background-color .45s ease-out, color .45s ease-out;
	font-family: "proxima-nova";
	@include m(main){
		font-family: "proxima-nova";
		background-color: transparent;
		color: $offBlack;
		border: .5px solid $buttonHover;
		font-size: rem-calc(13);
		letter-spacing: .14em;
		text-transform: uppercase;
		padding: rem-calc(12) rem-calc(30);
		&:hover {
			background-color: $buttonHover;
			color: $white;
		}
	}
}

.pin-magic {
	@extend .clearfix;
	position: relative;
	display: block;
	&:hover {
		.pin-magic__link {
			opacity:1;
		}
	}
	img {
		position: relative;
		z-index: 0;
		display: block;
	}
	.pin-magic__link {
		position: absolute;
		@extend .font-styles__header-three;
		background: $white;
		color: $black;
		z-index: 9;
		left: 35px;
		top: 20px;
		padding: 9px 20px;
		opacity: 0;
		transition: opacity .45s ease-out;
	}
}
.portfolio-layout__intro {
	.pin-magic {

		.pin-magic__link {
			left: 20px;
		}
	}
}