// Search form
.search-form {

}
.search-form label {
  font-weight: normal;
}
.search-form .search-field {
}
.search-form .search-submit {
  @extend .button;
}

form {
	input,textarea {
		box-shadow: none !important;
		font-family: "proxima-nova" !important;
		font-weight: 400 !important;
		font-size: rem-calc(12) !important;
	}

	.gfield {
		&.gfield_error {
			background: none !important;
			border: none !important;
		}
		.validation_message {
			color: $black;
			opacity: .8;
		}
	}
	.validation_error {
		color: $black !important;	
		opacity: .8;
		border:none !important;
	}
}
/*mailing list*/
#gform_wrapper_1 {
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
	ul.gform_fields {
		li.gfield {
			padding-right: 0;
			text-align: center;
			input {
				width: 100%;
				max-width: 100%;
				margin-top: -22px;
			}
			.gfield_label {
				@extend .font-styles__header-three;
				@extend .font-styles__header-three--small;
				background: $white;
				padding: rem-calc(5);
				display: inline-block;
			}
			.gfield_required {
				display: none;
			}
		}
	}
	.gform_footer {
		text-align: center;
	}

	#gform_submit_button_1 {
		@extend .button-types;
		@extend .button-types--main;
		margin: auto;
	}
}


#gform_wrapper_2 {
	text-align: center;
	position: relative;
	z-index: 99;
	padding-top: rem-calc(30);
	#gform_submit_button_2 {
		@extend .button-types;
		@extend .button-types--main;
		appearance: none;
		display: inline-block;
		cursor: pointer;
		background-color: $darkGray;
		border: 1px solid;
		border-color: $black;
		color: $black;
		margin: auto;
		&:hover {
			background: $black;
			color: $softGray;
		}
	}
	#field_2_1 {
		padding-right: 0;
		text-align: center;
		label {
			display: inline-block;
			color: $black;
			background: $darkGray;
			padding: 5px;
			@extend .font-styles__nav-link;
			font-weight: 100;
			position: relative;
			z-index: 99;
		}
		input {
			position: relative;
			z-index: 0;
			border: 1px solid $black;
			background: none;
			color: $black;
			appearance: none;
			font-size: rem-calc(12);
			margin: rem-calc(-21) auto rem-calc(30);
			width: 100%;
			max-width: 300px;
			box-shadow: 10000px 1px 1px 1px $darkGray inset !important;
		}
		textarea {

		}
	}
	.gform_footer {
		text-align: center;
	}
	.validation_error,.validation_message {
		color: $black !important;
		font-family: "proxima-nova";
		padding-left: 0;
		padding-right: 0;
	}
}

#gform_wrapper_3 {
	text-align: center;
	position: relative;
	z-index: 99;
	padding-top: rem-calc(0);
	margin-top: 0;
	#gform_submit_button_3 {
		@extend .button-types;
		@extend .button-types--main;
		appearance: none;
		cursor: pointer;
	}
	#field_3_1 {
		margin-top: 0;
	}
	#field_3_1,
	#field_3_2,
	#field_3_3 {
		padding-right: 0;
		text-align: center;
		label {
			display: inline-block;
			color: $black;
			background: $white;
			padding: 5px;
			@extend .font-styles__nav-link;
			font-weight: 100;
			position: relative;
			z-index: 99;
		}
		input {
			position: relative;
			z-index: 0;
			appearance: none;
			font-size: rem-calc(12);
			margin: rem-calc(-21) auto rem-calc(30);
			width: 100%;
		}
		input,
		textarea {
			/*@extend .font-styles__body-copy;*/
		    font-family: 'Canela' !important;
    		font-size: 1.0625rem !important;
    		border: 1px solid $softGray;
    		box-shadow: none !important;
		font-family: "proxima-nova" !important;
		font-weight: 400 !important;
		font-size: rem-calc(12) !important;
		}
		textarea {
			max-width: 100%;
			width: 100%;
			position: relative;
			z-index: 0;
			margin: rem-calc(-21) auto rem-calc(30);
		}
	}
	.gform_footer {
		text-align: center;
		.gform_button {
			margin: 0 auto;
		}
	}

}