@include b(instagram-list){
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
	text-align: center;
	@include e(item){
		position: relative;
	}

	@include e(likes){
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: block;
		z-index: 1;
		&:hover {
			&:after {
				opacity: .75;
			}
			.wrap {
				opacity: 1;
			}
		}
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			content: '';
			background: #fff;
			display: block;
			opacity: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			z-index: 0;
			transition: opacity .45s ease-out;
		}
		.wrap {
			position: relative;
			z-index: 9;
			vertical-align: middle;
			opacity: 0;
			transition: opacity .45s ease-out;
		}
		.fa,span {
			display: inline-block;
			vertical-align: top;
			/*color: #000000;*/
		}
		.fa {
			font-size: 25px;
			padding-top: 4px;
			color:#c9cac0;
		}
		.count {
			@extend .font-styles__header-three;
			/*font-family: 'CanelaThin';
			font-size: rem-calc(35);*/
			display: block;
			text-align: center;
			    letter-spacing: .14em;
			/*line-height: 54px;*/
			margin-left: 0;
			color: #000000;
		}
	}
	
}