@include b(instagram-slider){
	text-align: center;
	padding-top: rem-calc(50);
	
	@include e(intro){
		display: block;
		margin: 0 auto;
		max-width: 300px;
		width: 100%;
	}

	@include e(sub-title){
		@extend .font-styles__header-three;
		@extend .font-styles__header-three--small;
		display: block;
		margin-bottom: rem-calc(15);
	}

	@include e(handle){
		@extend .font-styles__body-copy;
		display: block;
		margin-bottom: rem-calc(30);
	}
}