@include b(intro-site){
	@include grid-row();
	max-width: 990px;
	padding: 0 rem-calc(15);
	margin-bottom: rem-calc(50);
	text-align: center;
	@include breakpoint(medium) {
		margin-bottom: rem-calc(100);
    }
	@include e(title){
		@extend .font-styles__header-two;
		margin-bottom: rem-calc(30);
		font-size: rem-calc(22);
			line-height: 40px;
			letter-spacing: .04em;
	}


}