@include b(mailing-list){

	@include m(home){
		text-align: center;
		margin: 0 auto rem-calc(50);
		h2 {
			margin-bottom: rem-calc(30);
		}
		@include breakpoint(medium) {
			margin: 0 auto rem-calc(70);
	    }
	    @include breakpoint(small only) {
			padding: 0 rem-calc(15);
	    }
	}
}