@include b(news-and-press){
	@include grid-row();
	@include grid-layout(3, '.news-and-press__block', $grid-column-gutter);
	@extend .clearfix;
    max-width: 69.5rem;

	@include e(block){
		&:hover {
			.news-and-press__link {
				opacity: 1;
			}	
		}

        @include m(press){
            margin-bottom: rem-calc(50);
        }
	}

	@include e(intro-title){
		@extend .font-styles__header-two;
		margin-bottom: rem-calc(30);
		clear: both;
		text-align: center;
	}

	@include e(content){
		position: relative;
	}

	@include e(link-img){
		display: block;
		position: relative;
		z-index: 0;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            /*max-height: 370px;*/
            /*width: auto;*/
        }
	}

	@include e(title){
        /*@extend .font-styles__header-two;
        display: block;
        font-size: rem-calc(25);
        line-height: 35px;
        margin-bottom: 20px;
        @include breakpoint(medium only) {
            font-size: rem-calc(22);
            line-height: 1.2;
            margin-bottom: rem-calc(15);
        }*/
        @extend .font-styles__header-two;
        margin-bottom: rem-calc(0);
        font-size: rem-calc(23);
        line-height: 40px;
        display: block;
    }
    @include e(name){
        @extend .font-styles__header-three;
        display: block;
    }

    @include e(info){
    	display: inline-block;
        vertical-align: middle;
        width: 100%;
        /*max-width: 80%;*/
        position: relative;
        z-index: 99;
    }

	@include e(link){

        z-index: 1;
        margin: auto;
        text-align: center;
        transition: opacity .45s ease-out;
        display: block;
        margin-top: rem-calc(20);
	}

    @include e(logo){
        text-align: center;
        padding-top: rem-calc(15);
        img {
            height: 100%;
            max-height: 33px;
            opacity: .5;
            width: auto;
            height: auto;
        }
        p {
            @extend .font-styles__header-three;
            display: block;
        }
    }

	@include m(home){
		margin: 0 auto rem-calc(50);
		@include breakpoint(medium) {
			margin: 0 auto rem-calc(100);
	    }

        @include e(block){
            
            @include breakpoint(small only) {
                max-width: 500px;
                width: 100%;
                float: none !important;
                margin: 0 auto;
                padding-top: rem-calc(50);
            }
            &:first-of-type {
                @include breakpoint(small only) {
                    padding-top: 0;
                }
            }
        }

	}

    @include m(template){
        
        @include breakpoint(small only) {
           
        }

        @include e(block){
            @include breakpoint(small only) {
                width: 50%;
                float: left !important;
                padding: 0 rem-calc(15);
                margin-bottom: rem-calc(30);
            } 
            &:nth-of-type(2n+1){
                @include breakpoint(small only) {
                    clear: left;
                }
            }
            &:nth-of-type(3n+1){
                @include breakpoint(small only) {
                    clear: none;
                }
            }
        }

        @include e(title){
            @include breakpoint(small only) {
               display: none;
            } 
        }
    }
}