/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../images/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

  
#owl-outside-wrap {
    /* max-height: 720px; */
    overflow: hidden;
    /*max-width: 1275px;*/
    width: 100%;
    margin: 0 auto;
}

#owlHome {
    overflow: hidden;
    margin-bottom: rem-calc(50);
    @include breakpoint(medium) {
        /*margin: 0 rem-calc(-15);*/
        margin-bottom: rem-calc(100);
    }

    @include breakpoint(medium){
          min-width: 2100px;
        max-width: 2100px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .owl-stage-outer {
        overflow: visible;
    }
    img {
        max-width: 680px;
        position: relative;
        z-index: 0;
        @media only screen and (min-width: 1200px) {
          /*min-width: 680px;*/
        }
    }

    .owl-item {
      @media only screen and (min-width: 1200px) {
          max-width: 680px;
        }
    }
    .owl-nav {
      display: none !important;
      @include breakpoint(medium){
        display: block !important;
      }
      .owl-prev {
            position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 680px;
    font-size: 0;
    opacity: 0;
  
      }

      .owl-next {
            position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 680px;
    font-size: 0;
    opacity: 0;
  
      }
    }
    .owl-dots {
      display: none;
    }
}

#owlInstagram {
  .owl-nav {
    /*position: absolute;*/
      width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    > div {
      position: absolute;
      font-size: 0;
      top: 0;
      width: 50px;
    height: 100%;
    line-height: 1;
    @media only screen and (min-width: 1350px) {

    }
      @extend .fa;
      &:before {
        color: $black;
        font-size: rem-calc(30);
        position: absolute;
        z-index: 9;
            left: 0;
    right: 0;
    bottom: 0;
    top: -4px;
    height: 33px;
    margin: auto;
    opacity: .8;
      }
      &:after {
        content: '';
        background: $white;
        opacity: .75;
        height: 100%;
        width: 100%;
        z-index: 0;
        top: 0;
        left: 0;
        display: block;
        position: absolute;
      }
    }
  }
  .owl-prev {
    @extend .fa-angle-left;
    left: 0;
  }
  .owl-next {
    @extend .fa-angle-right;
    right: 0;
  }
}

@include b(slider-info){
    position: relative;
    &:hover {
      
      .active.center &{
        .slider-info__link {
          opacity: 1;
        }
      }
    }
    @include e(link){
        position: absolute;
        width: 90%;
        height: 90%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        margin: auto;
        text-align: center;
        opacity: 0;
        @include breakpoint(medium down) {
          opacity: 1;
        }
        transition: opacity .45s ease-out;
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }
        &:after {
            background: $white;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: '';
            display: block;
            opacity: .9;
        }
    }
    @include e(content){
        display: inline-block;
        vertical-align: middle;
        width: 90%;
    }
    span {
        position: relative;
        z-index: 3;
    }
    @include e(title){
        @extend .font-styles__header-two;
        display: block;
    }
    @include e(location){
        @extend .font-styles__header-three;
        display: block;
    }
}