@include b(portfolio-pieces){
	@include grid-row();
	@include grid-layout(3, '.portfolio-pieces__block', $grid-column-gutter);

    @include breakpoint(small only) {
        padding-top: rem-calc(50);
        margin-bottom: rem-calc(50);
    }

	@include e(block){
        margin-bottom: rem-calc(30);
		&:hover {
			.portfolio-pieces__wrapper {
				opacity: 1;
			}
		}
        @include breakpoint(small only) {
                max-width: 500px;
                width: 100% !important;
                float: none !important;
                margin: 0 auto;
                padding-top: rem-calc(50);
            }
            &:first-of-type {
                @include breakpoint(small only) {
                    padding-top: 0;
                }
            }
	}

	@include e(wrapper){
	
        position: absolute;
        width: 90%;
        height: 90%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        margin: auto;
        text-align: center;
        opacity: 0;
        transition: opacity .45s ease-out;
        @include breakpoint(medium down) {
            opacity: 1;
        }
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }
        &:after {
            background: $white;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: '';
            display: block;
            opacity: .9;
        }

        span {
	        position: relative;
	        z-index: 3;
	    }
    
	}

	@include e(bg){
		@include aspect-ratio(10,10);
		display: block;
        background-size: cover;
	}

	@include e(content){
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        max-width: 100%;
    }
    
    @include e(title){
        @extend .font-styles__header-two;
        font-size: rem-calc(27);
        display: block;
    }
    @include e(location){
        @extend .font-styles__header-three;
        font-size: rem-calc(11);
        display: block;
    }
}