@include b(testimonial){
/*.owl-nav {
	display: none;
}*/
	.owl-nav {
		position: absolute;
	    width: 120%;
		left: -10%;
		right: 0;
		height: 33px;
		bottom: 0;
		top: 0;
		margin: auto;
		@media only screen and (max-width: 1350px) {
			width:94%;
			left: 0;
		}
		> div {
			font-size: 0;
			@extend .fa;
			&:before {
				color: $peaGreen;
				font-size: rem-calc(30);
			}
		}
	}
	.owl-prev {
		@extend .fa-angle-left;
		float: left;
	}
	.owl-next {
		@extend .fa-angle-right;
		float: right;
	}

	/*home*/
	@include m(home){
		text-align: center;
		max-width: 1100px;
		margin: 0 auto rem-calc(50);
		@include breakpoint(medium) {
			margin: 0 auto rem-calc(100);
	    }
		@include e(title){
			@extend .font-styles__header-two;
			margin-bottom: rem-calc(30);
			font-size: rem-calc(22);
			line-height: 40px;
			letter-spacing: .04em;
		}

		@include e(cite){
			@extend .font-styles__header-three;
			display: block;
		}

		@include e(border-box) {
			position: relative;
			padding: rem-calc(75);
			&:before {
				border: 1px solid $peaGreen;
				content:'';
				position: absolute;
				height: 98%;
			    width: 98%;
			    display: block;
			    right: 0;
			    top: 0;
			}
			&:after {
				border: 1px solid $peaGreen;
				content:'';
				position: absolute;
				height: 98%;
			    width: 98%;
			    display: block;
			    left: 1%;
			    bottom: 0;
			}
		}
	}

	/*portfolio*/
	@include m(portfolio){
		@include grid-row();
		
		text-align: center;
		
	    @include e(title){
			@extend .font-styles__header-two;
			margin-bottom: rem-calc(30);
			
			font-size: rem-calc(22);
			line-height: 40px;
			letter-spacing: .04em;
		}

		@include e(cite){
			@extend .font-styles__header-three;
			display: block;
		}
	}


	@include m(special){
		@include e(border-box) {
			position: relative;
			padding: rem-calc(75);
			background:#f9f9fa;
			&:before {
				border: 1px solid $softGray;
				content: '';
				position: absolute;
				height: 90%;
				width: 96%;
				display: block;
				right: 0;
				top: 0;
				background: none;
				z-index: 0;
				left: 0;
				bottom: 0;
				margin: auto;
			}
			&:after {
				display: none;
			}
		}
		@include e(title){
			position: relative;
			z-index: 9;
		}
		@include e(cite){
			position: relative;
			z-index: 9;
		}
	}
}