//fonts go here

@font-face {
	font-family: 'CanelaThin';
	src: url('../fonts/Canela-ThinItalic.eot');
	src: url('../fonts/Canela-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Canela-ThinItalic.woff2') format('woff2'),
		url('../fonts/Canela-ThinItalic.woff') format('woff'),
		url('../fonts/Canela-ThinItalic.ttf') format('truetype'),
		url('../fonts/Canela-ThinItalic.svg#Canela-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Canela';
	src: url('../fonts/Canela-Light.eot');
	src: url('../fonts/Canela-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Canela-Light.woff2') format('woff2'),
		url('../fonts/Canela-Light.woff') format('woff'),
		url('../fonts/Canela-Light.ttf') format('truetype'),
		url('../fonts/Canela-Light.svg#Canela-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@include b(font-styles){

	@include e(nav-link){
		color: $black;
		font-family: "proxima-nova";
		font-weight: 400;
		font-size: rem-calc(12);
		letter-spacing: .26em;
		text-transform: uppercase;
	}

	@include e(header-two){
		color: $offBlack;
		font-family: 'CanelaThin';
		font-weight: 100;
	font-style: italic;
		font-size: rem-calc(29);
		letter-spacing: 0;
		line-height: 49px;
	}

	@include e(header-three){
		color: $offBlack;
		font-family: "proxima-nova";
		font-weight: 400;
		font-size: rem-calc(13);
		letter-spacing: .14em;
		text-transform: uppercase;
		@include m(small){
			color: $offBlack;
			font-size: rem-cal(11);
			letter-spacing: .2em;
		}
	}

	@include e(body-copy){
		color: $black;
		font-family: 'Canela';
		font-size: rem-calc(15);
		letter-spacing: .06em;
		line-height: 25px;
		font-weight: 300;
	font-style: normal;
	}

	@include e(copy-right){
		color: $white;
		font-family: 'CanelaThin';
		font-weight: 100;
	font-style: italic;
		font-size: rem-calc(13);
		letter-spacing: .06em;
		line-height: 26px;
	}

	@include e(caption){
		color: $lightGreen;
		font-family: "proxima-nova";
		font-weight: 500;
		font-size: rem-calc(10);
		letter-spacing: .16em;
		line-height: 23px;
	}
}