// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;



$softGray: #e9e9e8;  
/*as seen on site wide border*/
$peaGreen: #a4a998;
/*as seen underneath the navigation, and button hover*/
$offBlack: #000000;
/*as seen in the text on the home page slides*/
$offGrey: #f9f9fa;
/*as seen in new and press BACKGROUND*/
$lightGreen: #c9cac0;

$buttonHover: #c6c6c6;


$darkGray: #e4e4e3;