@include b(about-layout){


	> section {
		@include grid-row();
		max-width: rem-calc(1170);
		padding: 0 rem-calc(15);
	}

	@include e(intro){
		margin: 0 auto rem-calc(50);
		@include breakpoint(medium) {
			margin: 0 auto rem-calc(50);
	    }
	}

	@include e(title){
		@extend .font-styles__header-two;
		margin-bottom: rem-calc(30);
		text-align: center;
	}

	@include e(copy){
		@extend .clearfix;
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		>div {
			
			@include breakpoint(medium) {
		        @include grid-column(6);
		    }
		    p {
		    	@extend .font-styles__body-copy;
		    	@include breakpoint(small only) {
		    		font-size: rem-calc(15);
		    	}
		    }
		}
		.about-layout__content-full {
			@include breakpoint(medium) {
		        @include grid-column(12);
		    }
		}
	}

	@include e(team-members){
		border-top: 1px solid $peaGreen;
		padding-top: rem-calc(75) !important;

		ul {
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
		}
		li {
			@extend .clearfix;
			list-style: none;
			&:last-child{
				margin-bottom:0;
			}
		}
	}

	@include e(button){
		margin-bottom: rem-calc(100) !important;
		padding-top: rem-calc(50) !important;
	}
}

@include b(team-member){
	margin: 0 auto rem-calc(50);
	@include breakpoint(medium) {
		margin: 0 auto rem-calc(75);
    }
	> div {
		
		@include breakpoint(medium) {
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
		}
	}

	@include e(pic){
		margin-bottom: rem-calc(30);
		@include breakpoint(medium) {
			width: 45%;
			margin-right: 4%;
			margin-bottom: 0;
		}
	}

	@include e(info){
		
		@include breakpoint(medium) {
			width: 50%;
			margin-top: rem-calc(70);
		}

		h2 {
			@extend .font-styles__header-two;
		}
		span {
			@extend .font-styles__header-three;
			display: block;
			margin-bottom: rem-calc(30);
		}
		p {
			@extend .font-styles__body-copy;
			margin-bottom: 0;
			@include breakpoint(small only) {
	    		font-size: rem-calc(15);
	    	}
		}
	}
}