@include b(contact-layout){

	> section {
		@include grid-row();
		max-width: rem-calc(1170);
		padding: 0 rem-calc(15);
	}


	@include e(title){
		@extend .font-styles__header-two;
		margin-bottom: rem-calc(30);
		text-align: center;
	}

	@include e(copy){
		@extend .clearfix;
		margin: 0 auto;
		>div {
			
			@include breakpoint(medium) {
		        @include grid-column(12);
		    }
		    p {
		    	@extend .font-styles__body-copy;
		    	text-align: left;
		    	max-width: 500px;
		    	margin: 0 auto 75px;

		    }
		}
	}

	@include e(content-right){
		.gform_wrapper {
			max-width: 700px;
			margin: 0 auto;
		}
		.gform_confirmation_message {
			text-align: center;
			margin-bottom: 50px;
			@extend .font-styles__body-copy;
		}
	}

	@include e(button){
		margin-bottom: rem-calc(100) !important;
		padding-top: rem-calc(50) !important;
	}
}