.page-template-tmpl-portfolio {
	footer {
		padding-top: rem-calc(30);
	}
}

footer {
	@include breakpoint(medium) {
		margin: 0 rem-calc(-14.9) rem-calc(-15);
	}
}

@include b(footer-misc){

	background: $darkGray !important;

	
	@include e(container){
		@include grid-row();
		padding: rem-calc(75) 0;
		> * {
			display: inline-block;
			vertical-align: middle;
			padding-left: rem-calc(75);
			&:first-child {
				padding-left: 0;
			}
			@include breakpoint(small only) { 
				width: 100%;
				padding: 0 rem-calc(15);
				margin-bottom: rem-calc(30);
				text-align: center;
				display: block;
			}
			&:last-child {
				@include breakpoint(small only) { 
					margin-bottom: 0;
				}
			}
		}
	}

	@include e(logo){
		img {
			max-width: 50px;
		}
	}

	@include e(cr){
		span, a {
			@extend .font-styles__copy-right;
			color: $black;
			display: block;
		}
	}

	@include e(menu){
		@extend .clearfix;
		margin: 0;
		width: rem-calc(360);
		@include breakpoint(small only) { 
			width: 100%;
		}
		> li {
			display: block;
			width: 50%;
			float: left;
			list-style: none;
			&:nth-child(2n+1){
				clear: left;
			}
		}
		a {
			@extend .font-styles__nav-link;
			color: $black;
			transition: color .45s ease-out;
			&:hover {
				color: #c9cac0;
			}
		}
	}

	@include e(social){
		margin: rem-calc(20) 0 0;
		float: right;
		li {
			display: inline-block;
			list-style: none;
			margin-left: rem-calc(25);
			&:first-child{
				margin-left: 0;
			}
		}
		a {
			color: $black;
			font-size: rem-calc(18);
		}
	}
}