.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

@include b(header){

    /*main site header, nav etc*/
    @include m(main){
        margin-top: rem-calc(45);
        /*logo*/
        @include e(logo){
            max-width: 370px;
            width: 100%;
            margin: 0 auto rem-calc(45);
            display: block;
            @include breakpoint(medium only) {
                max-width: 250px;
            }
            @include breakpoint(small only) {
                max-width: 150px;
            }
        }
    }
    /*end main site header, nav etc*/
}

#top-menu {
    @include grid-row();
    max-width: rem-calc(1140);
    border-top: 1px solid $softGray;
    background: none;
}
.title-bar {
    background: #636F65;
}
#site-navigation {
    background: $white;
    float: none;
    margin: 0 auto rem-calc(30);
    > ul {
        background: none;
        @include breakpoint(medium) {
            text-align: center;
        }
        li {
            @include breakpoint(medium) {
                display: inline-block;
                margin: 0 rem-calc(30);
            }
            &.current_page_item {
                span {
                    &:before {
                        @include breakpoint(medium) {
                            display:block;
                            height: 3px; 
                            background: $softGray;
                            width: 100%;
                            position: absolute;
                            content: '';
                            left: 0;
                            right: 0;
                            margin: auto;
                            top: -21.5px;
                        }
                    }
                }
            }
        }
    }
    a {
        @extend .font-styles__nav-link;
        /*font-size: rem-calc(9);*/
        transition: color .45s ease-out;
         span {
            position: relative;
         }
        &:hover {
            color: #e9e9e8;
        }
    }
}