.reveal {
	background: $darkGray;
	padding: rem-calc(100);
	text-align: center;
	&:before {
		border: 1px solid $black;
		content:'';
		position: absolute;
		height: 90%;
	    width: 90%;
	    display: block;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom :0;
	    margin: auto;
	}
	&:after {
		
	}
	&.reveal-plus {
		@include breakpoint(large) {
			width: 725px;
	    }
	}

	.post-password-form {
		margin-bottom: 0;
		position: relative;
		z-index: 99;
		padding-top: rem-calc(30);
		p {
			margin-bottom: 0;
			&:first-child{
				display:none;
			}
			label {
				font-size: 0;
				position: relative;
				&:before {
					content:'Password';
					display: inline-block;
					color: $black;
					background: $darkGray;
					padding: 5px;
					@extend .font-styles__nav-link;
					font-weight: 100;
					position: relative;
					z-index: 99;
				}
				input {
					width: 100%;
					max-width: 300px;
					margin: rem-calc(-15) auto rem-calc(30);
					box-shadow: 10000px 1px 1px 1px $darkGray inset !important;
				}
			}

			input {
				position: relative;
				z-index: 0;
				border: 1px solid $black;
				background: none;
				color: $black;
				appearance: none;
				font-size: rem-calc(12);
				margin-bottom: rem-calc(30);
			}
		}

		input[type="submit"] {
			@extend .button-types;
			@extend .button-types--main;
			appearance: none;
			display: inline-block;
			cursor: pointer;
			background-color: $softGray;
			border: 1px solid;
			border-color: $black;
			color: $black;
			&:hover {
				background: $black;
				color: $white;
			}
		}

	}
	h2 {
		@extend .font-styles__header-two;
		color: $black;
	}
	p {
		@extend .font-styles__body-copy;
		color: $black;
	}

	.button {
		font-family: "proxima-nova";
		position: relative;
		z-index: 99;
		background-color: transparent;
		text-transform: uppercase;
		color: $black;
		&:hover {
			background-color: transparent;
			color: $white;
		}
	}
}

.press-layout {
	@include breakpoint(small only) {
		padding-top: rem-calc(30)
	}
	h1 {
		@include breakpoint(small only) {
			font-size: rem-calc(25);
		}
	}
}

@include b(social-layout){

	@include e(container){
		@include grid-row();
		ul {
			margin: 0;
			@include grid-layout(3, 'li', $grid-column-gutter);
			li {
				list-style: none;
				margin-bottom: rem-calc(30);
			}
		}
	}

}