@include b(portfolio-layout){
	position: relative;


	@include breakpoint(small only) {
		padding-top: rem-calc(50);
	}

	> section {
		@include grid-row();
		max-width: rem-calc(1170);
		padding: 0 rem-calc(15);
	}
	@include e(intro){
		text-align: center;
		margin-bottom: rem-calc(40);
		@include breakpoint(medium) {
			margin-bottom: rem-calc(75);
		}
		> img {

		}
	}

	@include e(intro-title){
		@extend .font-styles__header-two;
		margin-bottom: rem-calc(30);
	}

	@include e(content){
		margin-bottom: rem-calc(75);
		padding: 0;
	}

	@include e(attributes){
		
		@include breakpoint(medium) {
			border-right: 1px solid $softGray;
	        @include grid-column(3);
	    }
		ul {
			margin: 0 auto rem-calc(30);
			text-align: center;
			@include breakpoint(medium) {
				text-align: right;
				margin: 0;
			}
		}
		li {
			@extend .font-styles__caption;
			list-style: none;
			color: $black !important;
			opacity: .8;
		}
	}

	@include e(copy){
		@extend .clearfix;
		
		@include breakpoint(medium) {
			@include grid-column(9);
		}
		>div {
			
			@include breakpoint(medium) {
		        @include grid-column(6);
		    }
		    p {
		    	@extend .font-styles__body-copy;
		    }
		}
	}

	@include e(content-left){
		p {
			&:first-letter{
				color: $softGray !important;
				font-family: 'CanelaThin';
				font-size: rem-calc(90);
				line-height: 65px;
				padding-top: 20px;
				padding-right: 8px;
				padding-left: 3px;
				float: left;
			}
		}
	}

	@include e(testimonial){
		background: $offGrey;
		max-width: 100% !important;
		width: 100%;
		padding-top: rem-calc(100) !important;
		padding-bottom: rem-calc(100) !important;
		margin: 0 auto rem-calc(50);
		@include breakpoint(medium) {
			margin: 0 auto rem-calc(75);
	    }
	}

	@include e(images){
		margin: 0 auto rem-calc(50);
		@include breakpoint(medium) {
			margin: 0 auto rem-calc(100);
	    }
	}

	@include e(img){
		@extend .clearfix;
		@include breakpoint(small only) {
         	margin-bottom: rem-calc(20) !important;  
        }
		@include m(double){
			margin: 0 rem-calc(-15) rem-calc(30);
			img {
				@include grid-column(6);
			}
			.pin-magic {
				@include grid-column(6);
				img {
					padding: 0;
					width: 100%;
					float: none;
				}
			}
		}
		@include m(solo){
			margin: 0 rem-calc(-15) rem-calc(30);
			img {
				@include grid-column(12);
			}
		}
	}

	@include e(logos){
		background: $offGrey;
		text-align: center;
		max-width: 100% !important;
		width: 100%;
		padding-top: rem-calc(100) !important;
		padding-bottom: rem-calc(100) !important;
		margin: 0 auto;
		@include breakpoint(medium) {
			margin: 0 auto;
	    }

		h2 {
			@extend .font-styles__header-two;
			margin-bottom: rem-calc(60);
		}
		>div {
			@include grid-row();
		}
		ul {
			margin: 0;
		}
		li {
			list-style: none;
			display: inline-block;
			vertical-align: middle;
			margin: 0 rem-calc(20);
			@include breakpoint(small only) {
				display: block;
				margin-top: 15px;

			}
			&:first-child {
				@include breakpoint(small only) {
					margin-top: 0;
				}
			}
			img {
				max-width: 175px;
				opacity: .5;
			}
		}
	}

	@include e(next-project){
		position: absolute;
		z-index: 9;
		bottom: 250px;
		right: -13px;
		padding: 0 !important;
		width: 560px;
		/*display: none;*/
		> a {
			background: $darkGray;
			display: block;
			padding: rem-calc(35);
			span {
				color: $black;
			}
			@include breakpoint(small only) {
				text-align: center;
			}
		}
		@include breakpoint(small only) {
			display: block !important;
			position: relative;
			right: 0;
			bottom: 0;
			margin: 50px auto !important;
			width: auto
		}
	}

	@include e(next-info){
		@include breakpoint(medium) {
			float: right;
			height: 165px;
			width: 322px;
			text-align: center;
			display: block;
		}
		&:before {
			@include breakpoint(medium) {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
		}
		.portfolio-layout__center-me {
			@include breakpoint(medium) {
				display: inline-block;
				width: 305px;
				vertical-align: middle;
				max-width: 100%;
			}
		}
	}

	@include e(next-project-subtitle){
		font-family: "proxima-nova";
		font-size: rem-calc(13);
		letter-spacing: .14em;
		text-transform: uppercase;
		/*position: absolute;*/
		/*right: 0;*/
		display: block;
		text-align: center;
	
		/*border-bottom: 1px solid $black;*/
		@include breakpoint(small only) {
			position: relative;
			top: 0;
		    margin: 30px auto 15px;
    		display: block;
		}
	}
	@include e(next-project-title){
		@extend .font-styles__header-two;
		/*float: right;*/
		/*width: 205px;*/
		text-align: center;
		margin-right: 0;
		margin-top: 45px;
		@include breakpoint(small only) {
			float: none;
		}
	}
	@include e(next-project-img){
		display: block;
		height: 165px;
		width: 150px;
		background-size: cover;
		float: left;
		@include breakpoint(small only) {
			float: none;
			height: auto;
			width: auto;
			@include aspect-ratio(16,9);
			display: block;
		}
	}

	@include e(bg-next){

		&:before {
			@include breakpoint(medium) {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; 
			}
		}
		@include breakpoint(medium) {
			position: absolute;
			z-index: 9;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			background: rgba(255,255,255,.7);
		}
		span {
			
			@include breakpoint(medium) {
				display: inline-block;
				width: 90%;
				margin: auto;
				vertical-align: middle;
				text-align: center;
				color: $black !important;
			}
		}
	}

	@include e(middle){
		@include breakpoint(medium) {
			display: inline-block;
			width: 90%;
			vertical-align: middle;
		}
		span {
			
			@include breakpoint(medium) {
				display: block;
				margin: auto;
				text-align: center;
				color: $black !important;
			}
		}
	}
}